<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <header class="bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fas fa-pencil mr-2"></i>Posts</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="py-5 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Post">
            <div class="input-group-append">
              <a href="#" class="btn btn-primary">Serach</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Latest Post</h3>
            </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Date</th>
                <th>Category</th>
                <th>User</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="po : ${posts}">
                <td th:text="${po.id}"></td>
                <td th:text="${po.title}"></td>
                <td th:text="${#strings.substring(po.body,0,7)}"></td>
                <td th:text="${po.datePosted}"></td>
                <td th:text="${po.category.title}"></td>
                <td th:text="${po.users.name}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  <div th:replace="fragments/postTable.html :: postTable"></div>-->

</main>
</body>
</html>