<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <header class="py-3 bg-warning text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1><i class="fas fa-users mr2"></i>Users</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="bg-light py-5 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <a href="#" class="btn btn-warning">Serach</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Users</h3>
            </div>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Post Date</th>

              </tr>
              </thead>
              <tbody>
              <tr th:each="us :${allUsers}">
                <th th:text="${us.id}"></th>
                <th th:text="${us.name}"></th>
                <th th:text="${us.email}"></th>
                <th th:text="${us.dateRegistered}"></th>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </section>









</main>
</body>
</html>